* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #FF9A4B;
}

footer {
  height: 50px;
  background-color: #AAAAAA;
}

main {
  width: 960px;
  padding: 50px;
  margin: 0 auto;
}

.step-container {
  display: flex;
}

.step-box {
  position: relative;
  padding: 10px;
  background-color: #EEEEEE;
}

.step-box:nth-child(2) {
  margin: 0 30px;
}

.step-box span {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 2px 3px;
  background-color: #FF9A4B;
}

.step1 .step-image {
  width: 280px;
  height: 150px;
  background-image: url(./img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step2 .step-image {
  width: 280px;
  height: 150px;
  background-image: url(./img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step3 .step-image {
  width: 280px;
  height: 150px;
  background-image: url(./img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

h3 {
  margin: 15px 0 5px 0;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    padding: 50px 0;
  }

  .step-container {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }

  .step-box:nth-child(2) {
    margin: 20px 0;
  }

  .step1 .step-image {
    width: 100%;
    height: 150px;
  }

  .step2 .step-image {
    width: 100%;
    height: 150px;
  }

  .step3 .step-image {
    width: 100%;
    height: 150px;
  }
}